.CustomPostHead-icon {
  font-size: 20px;
}
.profile-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}
.details {
  display: flex;
  flex-direction: column;
}
.details .name {
  font-weight: 500;
}
.details .date {
  font-size: 12px;
  color: grey;
}
