.header {
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 56px;
  width: 100%;
  top: 0px;
  left: 0px;
  position: fixed !important;
  z-index: 100;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.navbar_left {
  display: flex;
  align-items: center;
  transform: translateX(-39px);
}
.logo {
  width: 200px;
  cursor: pointer;
}

.navbar_search {
  margin-left: -10px;
}

.navbar_middle {
  display: flex;
  align-items: center;
  gap: 14px;
}
.navbar_middle_icon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  cursor: pointer;
  width: 80px;
  height: 50px;
}

.active {
  border-bottom: 3px solid #5c6e58;
  border-radius: 0;
  height: 56px;
}
.active_icon {
  display: none;
}
.active .active_icon {
  display: block;
}
.active .notActive_icon {
  display: none;
}
.navbar_right {
  display: flex;
  position: absolute;
  gap: 17px;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
}
.circle_icons {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f0f2f5;
  cursor: pointer;
}
.navbar_profile {
  cursor: pointer;
  width: 47px;
  height: 47px;
  border-radius: 50%;
}
.notification {
  position: absolute;
  top: 3px;
  right: 45px;
  background: #5c6e58;
  border-radius: 50px;
  padding: 1px 7px;
  font-size: 15px;
  font-weight: 600;
  color: #ffffff;
}

@media (max-width: 760px) {
  .navbar_middle_icon:nth-child(3) {
    display: none;
  }
  .navbar_middle_icon:nth-child(4) {
    display: none;
  }
  .navbar_middle_icon {
    width: 35px;
  }
}

@media (max-width: 550px) {
  .navbar_middle {
    transform: translateX(-20%);
  }
  .navbar_middle {
    gap: 12px;
  }
  .navbar_right {
    gap: 10px;
  }
}

@media (max-width: 400px) {
  .navbar_middle {
    transform: translateX(-48%);
  }
  .navbar_middle {
    gap: 5px;
  }
  .navbar_right {
    gap: 8px;
  }
}
