/* body {
  background-color: #ffffff;
} */
.signup-container {
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

 
.signup-card {
  width: 480px;
  height: 550px !important;
  border-radius: 10px;
  border: none;
  padding: 30px;
  box-shadow: 0 6px 16px 0 rgb(0 0 0 / 10%);
}
.signup-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.o {
  margin-top: 25px;
}

.Link{
  color:#5C6E58
}

