* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  color:  #050505;
}
body {
  font-family: "Segoe UI", Helvetica, Arial, sans-serif;
  background: #f0f2f5 !important ;
}
/* h1 {
  margin-top: 0;
  font-size: 35px;
  margin-bottom: 20px;
  padding: 5px;
  color: #2c3e50;
} */
html {
  overflow-y: scroll;
}
.line {
  width: 100%;
  height: 1px;
  background: #d6d7d9;
  margin: 5px 0;
}

/*----Scrollbar----*/
.scrollbar {
  overflow: auto;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #aeaeafa1;
  border-radius: 5px;
}

/*----Scrollbar----*/

/* hover */
.hover1:hover {
  background: #f0f2f5;
}
.hover2:hover {
  background: #e4e6eb;
}

/* hover */

/*---Circles------*/
.small_circle {
  position: relative;
  height: 36px;
  width: 36px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 11px;
  background: #e4e6eb;
  cursor: pointer;
}
@media (max-width: 870px) {
  .small_circle {
    margin-right: 0;
  }
}
/*---Circles------*/
.blur {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.768);
  bottom: 0;
  z-index: 99;
  backdrop-filter: blur(2px);
}
/*----filters---*/
#ReactSimpleImageViewer {
  z-index: 19;
  background-color: #000000f0;
}
#ReactSimpleImageViewer img {
  max-height: 70%;
  max-width: 80%;
  border-radius: 10px;
}
