@import url('https://fonts.googleapis.com/css2?family=Edu+SA+Beginner&family=Edu+VIC+WA+NT+Beginner:wght@600&family=Mochiy+Pop+One&family=Roboto:ital,wght@0,300;0,400;1,300;1,500&family=Rubik+Gemstones&family=Rubik+Moonrocks&display=swap'); 
 
*{
    font-family: 'Edu SA Beginner', cursive;
     font-weight: bolder;
     
 }
h1{
    text-align: center;
  }
  
  