 
  @import url('https://fonts.googleapis.com/css2?family=Edu+SA+Beginner&family=Edu+VIC+WA+NT+Beginner:wght@600&family=Mochiy+Pop+One&family=Pacifico&family=Roboto:ital,wght@0,400;1,300;1,400&family=Rubik+Gemstones&family=Rubik+Moonrocks&display=swap');
  body{
    background-color:#f7f7f7 !important
  }
  h1 {
    margin-top: 0;
   font-size: 35px;
   margin-bottom: 20px;
   padding: 5px;
   color: #2c3e50;
 }
 html {
  overflow-y: scroll;
}
/*----Scrollbar----*/
.scrollbar {
  overflow: auto;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #aeaeafa1;
  border-radius: 5px;
}

/*----Scrollbar----*/

/* hover */
 .hover1:hover {
  background:  #f0f2f5;
}

/* hover */


/*---Circles------*/
.small_circle {
  position: relative;
  height: 36px;
  width: 36px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 11px;
  background:  #e4e6eb;
  cursor: pointer;
}

/*---Circles------*/

