.notif_menu {
    padding: 0 0.3rem;
    position: absolute;
    top: 100%;
    right: 0;
    width: 360px;
    border-radius: 10px;
    background: #ffffff;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
    user-select: none;
    padding: 10px;
    border: 1px solid #5c6e58;
  }
  .notif_menu h2 {
    padding: 3px;
    font-size: 17px;
   }
  