
/* photos / friends */

.card_header {
  font-size: 20px;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
}
.photo_friends_link {
  color: black;
  font-size: 16px;
  font-weight: 500;
}
.photo_friends_content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.photo_friends_content_info {
  color: #65676b;
  font-size: 16px;
  font-weight: 400;
}
.photo_grid,
.friends_grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-gap: 5px;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 10px;
}
.friends_grid {
  grid-gap: 10px;
  border-radius: 0;
}
.photo_card {
  background-size: cover;
  /* background-position: center; */
}

.photo_card:before {
  content: "";
  display: block;
  height: 0;
  width: 0;
  padding-bottom: 100%;
}
.friend_card {
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  cursor: pointer;
}
.friend_card:hover,
.photo_card:hover,
.photo img:hover {
  filter: brightness(0.9);
}
.friend_card:before {
  content: "";
  display: block;
  height: 0;
  width: 0;
  padding-bottom: 100%;
}
.friend_name {
  font-size: 13px;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.friend_name:hover {
  text-decoration: underline;
}
.link{
  text-decoration: none;
}

