


/* ProfileInfo */

/* .profile-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 70px;
  height: 160px;
  padding: 50px;
}
.left {
  flex: 1;
  display: flex;
}
.center {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 5px;
}
.btns {
  width: 50%;
  font-size: 14px;
  font-weight: 600;
}

.profile-user-name {
  font-size: 24px;
}
.profile-user-info {
  font-weight: 300;
}
.profile-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 400px;
} */


/* photos / friends */

.card-header {
  font-size: 20px;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
}
.photo-friends-link {
  color: black;
  font-size: 16px;
  font-weight: 500;
}
.photo-friends-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.photo-friends-content-info {
  color: #65676b;
  font-size: 16px;
  font-weight: 400;
}
.photo-grid,
.friends-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-gap: 5px;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 10px;
}
.friends-grid {
  grid-gap: 10px;
  border-radius: 0;
}
.photo-card {
  background-size: cover;
  background-position: center;
}

.photo-card:before {
  content: "";
  display: block;
  height: 0;
  width: 0;
  padding-bottom: 100%;
}
.friend-card {
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  cursor: pointer;
}
.friend-card:hover,
.photo-card:hover,
.friend-card:before {
  content: "";
  display: block;
  height: 0;
  width: 0;
  padding-bottom: 100%;
}
.friend-name {
  font-size: 13px;
  font-weight: 600;
  cursor: pointer;
}
.friend-name:hover {
  text-decoration: underline;
}
