.card {
  transition: all 0.3s;
  cursor: pointer;
  /* position: relative; */
}
.card:hover {
  transform: scale(1.01);
}

.card-img-top {
  height: 350px;
}
.edit-link {
  color: black !important;
}
.card-icon {
  font-size: 20px
 }
