.card {
  transition: all 0.3s;
  cursor: pointer;
  /* position: relative; */
}
.card:hover {
  transform: scale(1.05);
}

.card-img-top {
  height: 350px;
}
.edit {
  position: inherit;
  z-index: 1;
  top: 0%;
  left: 93%;
  color: black;
  /* transform: translate(-50%, -50%); */
}
