.card-container {
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 2px #ccc;
  padding: 10px;
  width: 100%;
  margin: 10px 0;
}
.comment {
  width: 100%;
  margin: 20px 0;
  padding: 0.5rem;
  border: 1px solid hsl(235, 100%, 90%);
  border-radius: 0.5rem;
}
.cover_upload_menu {
  background: #ffffff;
  position: absolute;
  right: 50%;
  top: 41px;
  padding: 10px;
  z-index: 8;
  width: 250px;
 
}
