.card-container {
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 2px 4px  rgba(0, 0, 0, 0.1);
  padding: 10px;
  width: 100%;
  margin: 10px 0;
}

.cover_upload_menu {
  background: #ffffff;
  position: absolute;
  right: 50%;
  top: 41px;
  padding: 10px;
  z-index: 8;
  width: 250px;
 
}
