.button {
  background-color: #5c6e58;
  border-radius: 10px;
  color: #f7f4e9;
  border: none;
  outline: none;
  padding: 8.5px 12px;
  border-radius: 7px;
  font-family: inherit;
  font-weight: 700;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  cursor: pointer;
  width: 100%;
}

.button2 {
  margin-top: 10px;
  display: inline-block;
  outline: 0;
  border: none;
  cursor: pointer;
  padding: 0 24px;
  border-radius: 10px;
  min-width: 200px;
  height: 50px;
  width: 100%;
  font-size: 18px;
  font-family: "Roboto";
  font-weight: 500;
  color: #6b7280;
  background-color: white;
}
.button3 {
  margin-top: 10px;
  display: inline-block;
  outline: 0;
  border: none;
  cursor: pointer;
  padding: 0 24px;
  border-radius: 5px;
  height: 40px;
  width: 100%;
  font-size: 14px;
  font-family: "Roboto";
  font-weight: 500;
  background-color: #ccc;
}
.blue_btn {
  border: none;
  outline: none;
  background: #0096ff;
  padding: 8.5px 12px;
  border-radius: 7px;
  font-family: inherit;
  font-weight: 700;
  font-size: 14px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  cursor: pointer;
  width: 100%;
}
.gray_btn {
  border: none;
  outline: none;
  background: #e4e6eb;
  padding: 8.5px 12px;
  border-radius: 7px;
  font-family: inherit;
  font-weight: 600;
  font-size: 14px;
  color: #050505;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  cursor: pointer;
}
.btns {
  width: 50%;
  font-size: 14px;
  font-weight: 600;
}
.cancelbtn {
  text-decoration: none;
  transition: all 0.4s;
  line-height: normal;
  min-width: 120px;
  border: none;
  min-height: 45px;
  border-radius: 3px;
  margin: 0 5px;
  background-color: #ccc;
  color: black;
  opacity: 0.8;
  font-size: 20px;
}
.cancelbtn:hover {
  opacity: 1;
}
.deletebtn {
  text-decoration: none;
  transition: all 0.4s;
  line-height: normal;
  min-width: 120px;
  border: none;
  min-height: 45px;
  border-radius: 3px;
  margin: 0 5px;
  background-color: #e40c2b;
  color: white;
  opacity: 0.8;
  font-size: 20px;
}
.deletebtn:hover {
  opacity: 1;
}
.commentbtn {
  border: none;
  background: rgb(59, 130, 246);
  color: white;
  padding: 3px;
  cursor: pointer;
  border-radius: 5px;
  min-width: 70px;
}
.commentbtn:hover:enabled {
  cursor: pointer;
  background: rgb(37, 99, 235);
}
.commentbtn:hover:disabled {
  opacity: 0.7;
  cursor: default;
}
.commentcancelbtn {
  border: none;
  background: #e40c2b;
  color: #ffffff;
  padding: 3px;
  cursor: pointer;
  border-radius: 5px;
  width: 70px;
  margin-left: 10px;
}

/* .button2 {background-color: #1D1D2C;}  
  .button3 {background-color: #F7F4E9;}   
  .button4 {background-color:#3CBCC3; }
  .button5 {background-color: #E40C2B;}  
   .button6 {background-color:#EBA63F;}  
*/
.icon {
  padding: 0.5em 1em;
  border: none;
  color: white;
  font-size: 15px;
  cursor: pointer;
}
.icon-btn {
  background: none;
  color: #1d1d2c;
  padding: 0.25em;
  display: flex;
  align-items: center;
}

.collapse-line {
  border: none;
  background: none;
  padding: 0;
  width: 15px;
  margin-top: 0.5rem;
  position: relative;
  cursor: pointer;
  outline: none;
  transform: translateX(-50%);
}

.collapse-line:hover::before,
.collapse-line:focus-visible::before {
  background-color: #f7f4e9;
}
.collapse-line::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 1px;
  background-color:  #5c6e58;
  transition: background-color 100ms ease-in-out;
}

.mt-1 {
  margin-top: 20px;
}

