.button {
  background-color: #5c6e58;
  border-radius: 10px;
  color: #f7f4e9;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: 900;
  margin: 4px 2px;
  cursor: pointer;
}

.button2 {
  margin-top: 10px;
  display: inline-block;
  outline: 0;
  border: none;
  cursor: pointer;
  padding: 0 24px;
  border-radius: 10px;
  min-width: 200px;
  height: 50px;
  font-size: 18px;
  font-family: "Roboto";
  font-weight: 500;
  color: #6b7280;
  background-color: white;
}
.cancelbtn {
 	text-decoration: none;
	transition: all 0.4s;
	line-height: normal;
	min-width: 120px;
	border: none;
	min-height: 45px;
	border-radius: 3px;
	margin: 0 5px;
  background-color: #ccc;
  color: black;
  opacity: 0.8;
  font-size: 20px;
}
.cancelbtn:hover {
  opacity: 1;
}
.deletebtn {
 	text-decoration: none;
	transition: all 0.4s;
	line-height: normal;
	min-width: 120px;
	border: none;
	min-height: 45px;
	border-radius: 3px;
	margin: 0 5px;
  background-color: #e40c2b;
  color: white;
  opacity: 0.8;
  font-size: 20px;
 }
.deletebtn:hover {
  opacity: 1;
}
.commentbtn {
 border: none;
 background-color:#5271ff;
 color: white;
 padding: 3px;
 cursor: pointer;
 border-radius: 5px;
 width: 100px;
 }


/* .button2 {background-color: #1D1D2C;}  
  .button3 {background-color: #F7F4E9;}   
  .button4 {background-color:#3CBCC3; }
  .button5 {background-color: #E40C2B;}  
   .button6 {background-color:#EBA63F;}   */
