.wrap {
    position: relative;
  }
  .loader {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 10;
  }
  .content {
    filter: blur(2px);
  }
