/* Comments */
.comments .comments-img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}

/* Comment */

.comment {
  margin: 15px 0px;
  padding: 0.5rem;
  border: 1px solid hsl(235, 100%, 90%);
  border-radius: 0.5rem;
}
.comment .comment-header {
  color: hsl(235, 50%, 67%);
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.25rem;
  font-size: 0.75em;
}
.comment .comment-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}
.comment .comment-header .author {
  font-weight: 500;
  font-size: 14px;
}
.comment .comment-header .author:hover {
  text-decoration: underline;
}
.comment .comment-header .date {
  font-size: 9px;
  color: grey;
  align-self: center;
}
.comment .comment-header .date:hover {
  text-decoration: underline;
}

.comment .comment-text {
  white-space: pre-wrap;
  margin-left: 10px;
  margin-right: 10px;
}
.comment .comment-actions {
  display: flex;
  cursor: pointer;
  margin-top: 8px;
  gap: 7px;
}
.comment .replying {
  margin-top: 10px;
  margin-left: 10px;
}
.nested-replies-stack {
  display: flex;
}

.nested-replies {
  padding-left: 0.5rem;
  flex-grow: 1;
}

.hide {
  display: none;
}

/* commentForm */
.comments-img {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  object-fit: cover;
}
