/* ProfileCover */
.coverContainer {
    width: 100%;
    padding: 18%;
    background: #e4e6eb;
    border-radius: 0 0 10px 10px;
    position: relative;
    min-height: 170px;
    /* background-size: cover ; */
    background-size: auto 100%;
    background-position: center;
  }
  .btns_container {
    position: fixed;
    left: 0;
    top: 56px;
    height: 56px;
    width: 100%;
    background: rgb(0 0 0 / 70%);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
  }
  .left {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #fff;
  }
  .btns {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
  }
  .cover {
    font-weight: 500;
  }
  .cropper {
    width: 100%;
    height: 100%;
  }
  .mediaClassName {
    width: 100%;
  }
  
  .edit_container {
    position: absolute;
    right: 20px;
    bottom: 20px;
  }
  .edit {
    background: #e4e6eb;
    padding: 7px 15px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 600;
    font-size: 14px;
    color: #111;
    border-radius: 10px;
    cursor: pointer;
    width: max-content;
    position: relative;
  }
  .cover_upload_menu {
    position: absolute;
    right: 50%;
    top: 41px;
    padding: 10px;
    z-index: 8;
    width: 250px;
  }
  .open_cover_menu_item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    cursor: pointer;
    font-weight: 600;
    font-size: 14px;
    border-radius: 10px;
  }


