.home {
  min-height: 100vh;
  display: grid;
}
.home-head {
  /* display: flex;
  flex-wrap: wrap;
  gap: 20px; */
  display: -ms-flexbox; /* IE10 */
  display: flex;
  justify-content: center;
}
.home-column {
  -ms-flex: 50%; /* IE10 */
  flex: 0 1 auto;
  margin: 30px;
}

.home-middle {
  margin: 0 auto;
  max-width: 590px;
}
.posts {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}
