.home {
  min-height: 100vh;
  background-color:  #f0f2f5;;
}

.home-middle {
  margin: 0 auto;
  max-width: 590px;
}
.home-posts {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
