/* Post */
.x-row {
  display: flex;
  align-items: center;
  justify-content: space-around;
  }
.post-image {
  width: 100%;
  border-radius: 4px;
  margin-bottom: 5px;
}
.edit-link {
  color: black !important;
}

.profile-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.post-comments-section {
  width: 100%;
  height: 100%;
}
.comments-section {
  margin-top: 1rem;
}

/* PostList */
.text-center {
  margin-top: 150px;
}
