
/* .card {
   transition: all 0.3s;
  cursor: pointer;
 }
.card:hover {
  transform: scale(1.01);
}

.card-img-top {
  height: 400px;
  width: 100%;
} */
.post-image{
  width: 100%;
  border-radius: 4px;
  margin-bottom: 5px;
}
.edit-link {
  color: black !important;
}
.card-icon {
  font-size: 20px;
  color: black;
}

.profile-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

