
/* .Post-list-item {
  width: 590px;
  max-width: 100%; 
  max-height: 100%;  
  min-height: 250px;
  margin: auto;
  margin-top: 20px;
  border: 1px solid #77777769;
  border-radius: 4px;
  padding: 20px 60px;
  box-shadow: 0 0 1em #80808066;
}  */
 

form textarea {
  width: 100%;
  height: 100px;
  font-size: 12px;
  margin-top: 2px;
  resize: none;
  border-radius: 4px;
}

.New-Post-Title 
{
  justify-content: center;
  align-items: center;
  display: flex;
  margin-top: 0;
  font-size: 35px;
  margin-bottom: 20px;
  padding: 5px;
  color: #2c3e50;
}
