
/* .Post-list-item {
  width: 590px;
  max-width: 100%; 
  max-height: 100%;  
  min-height: 250px;
  margin: auto;
  margin-top: 20px;
  border: 1px solid #77777769;
  border-radius: 4px;
  padding: 20px 60px;
  box-shadow: 0 0 1em #80808066;
}  */
 
