label {
  font-weight: 600;
  font-size: 14px;
}

.Icon {
  position: absolute;
  right: 9px;
  top: 22px;
  font-size: 17px;
  cursor: "pointer";
}
.search-input {
  background-color: white;
  border: 0;
  border-radius: 10px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  font-size: 16px;
  font-family: "Roboto";
  padding: 15px;
  height: 40px;
  width: 300px;
}
.search-input:focus {
  outline: none;
  width: 800px;
}
