
.signup-container {
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;

}


.signup-card {
  border-radius: 10px;
  border: none;
  padding: 30px;
  box-shadow: 0 6px 16px 0 rgb(0 0 0 / 10%);
}
.signup-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.signup-header{
  border-bottom: 1px solid #e4e6eb;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 10px;
  position: relative;
  margin-bottom: 10px;
}
.signup-header-title{
  font-size: 32px;
  font-weight: 700;
}
.signup-header-title1{
  color:  #65676b;
  font-size: 15px;
}
.signup-form{
display: flex;
flex-direction: column;
gap: 10px;
}
.LINE{
  display: flex;
  gap: 15px;
}
.o {
  margin-top: 25px;
}

.Link{
  color:#5C6E58
}

.register{
  justify-content: center;
  align-items: center;
  display: flex;
  margin-top: 10px;
}
.error_text {
  color: #b94a48;
  font-weight: 700;
  text-align: center;
  margin: 0 auto 10px;
}
.col {
  margin-bottom: 10px;
}
.colHeader {
  align-items: center;
  color:  #65676b;
  display: flex;
  font-size: 13px;
  gap: 4px;
}
.select-grid {
  grid-gap: 10px;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  height: 35px;
  margin-top: 5px;
  width: 100%;
}
.gender {
  grid-template-columns: repeat(2, 1fr);
}
.select-grid select {
  border-radius: 5px;
  color: #050505;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
  padding: 0 10px;
  background: #fff;
}
.select-grid label {
  border-radius: 5px;
  align-items: center;
  border: 1px solid  #65676b;
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
}
.err_icon {
  color: #b94a48;
  width: 16px;
   height: 16px;
}

