.searchInputs {
  display: flex;
}

.searchIcon {
  height: 40px;
  width: 40px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background: #f0f2f5;
  display: grid;
  place-items: center;
}
