.searchInputs {
  margin-top: 10px;
  display: flex;
}

.searchIcon {
  height: 40px;
  width: 50px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: white;
  display: grid;
  place-items: center;
}

.searchIcon svg {
  font-size: 20px;
}
