/* HeaderMenu */
.header_menu {
  padding: 0 0.3rem;
  position: absolute;
  top: 100%;
  right: 0;
  width: 360px;
  border-radius: 10px;
  background: #ffffff;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  user-select: none;
  padding: 10px;
  border: 1px solid #5c6e58;
}
.head {
  display: flex;
  align-items: center;
  border-radius: 10px;
  text-decoration: none;
  gap: 5px;
}
.menu_image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.menu_user {
  font-weight: 600;
  font-size: 15px;
}

.menu_splitter {
  width: 100%;
  height: 1px;
  background: #e4e6eb;
  margin-top: 5px;
}
.menu_action {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 5px;
  padding: 7px;
  font-weight: 600;
  font-size: 14px;
  border-radius: 10px;
}
.Arrow {
  right: 10px;
  transform: translateY(-50%);
  top: 30px;
  position: absolute;
}
.action_span {
  font-size: 14px;
}
.circle_icons {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f0f2f5;
  cursor: pointer;
}