.post-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.user-profile {
  display: flex;
  align-items: center;
}
.profile-image {
  width: 55px;
  border-radius: 50%;
  object-fit: cover;
}
.username {
  display: flex;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  width: max-content;
}
.username:hover {
  text-decoration: underline;
}
.date {
  font-size: 12px;
  font-weight: 400;
  display: flex;
  gap: 5px;
  color: grey;
}
.date:hover {
  text-decoration: underline;
}

.PostHead-icon {
  font-size: 20px;
}
