.reaction {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
    width: 30%;
    height: 100%;
    border-radius: 10px;
  }
  .react_span {
    font-size: 14px;
    font-weight: 600;
    color: var(--color-third);
  }