.authInput_container {
  width: 100%;
  position: relative;
}
.authInput_container input {
  background: var(--bg-secondary);
  border: 1px solid var(--bg-third);
  border-radius: 10px;
  color: var(--color-secondary);
  font-size: 17px;
  height: 40px;
  margin-bottom: 10px;
  outline: none;
  padding-left: 10px;
  width: 100%;
}
.ERROR {
  border-color: var(--color-error) !important;
}
.ER {
  position: absolute;
  right: 40px;
  top: 15px;
}

.showHidePassword {
  position: absolute;
  right: 9px;
  top: 8px;
  font-size: 17px;
  cursor: "pointer";
}
