.login-container {
  height: 78vh;
  padding-top: 2rem;
}
.login-head {
  margin: 0 auto;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login-image {
  width: 80%;
}
.login-span {
  font-size: 20px;
}

.login-card {
  width: 350px;
  padding: 20px;
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
}


.login-form {
  display: flex;
  flex-direction: column;
}

.login {
  justify-content: center;
  align-items: center;
  display: flex;
  margin-top: 10px;
}
.login_link:hover {
  text-decoration: underline;
  color: #5c6e58;
}
.signup-link {
  cursor: pointer;
  font-size: 14px;
  font-weight: 700;
  color: #5c6e58;
  text-decoration: none;
}
.signup-link:hover {
  text-decoration: underline;
  color: #5c6e58;
}

@media (min-width: 900px) {
  .login-container {
    display: flex;
    margin: 0 auto;
    max-width: 1000px;
    align-items: center;
  }

  .login-head {
    width: 50%;
    margin: 0 auto 8rem;
    align-items: start;
  }
  .login-span {
    font-size: 27px;
  }
  .login-card {
    width: 400px;
  }
  .login-image {
    width: 300px;
    margin-left: -1.4rem;
  }
}
