.container {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 16px;
  white-space: nowrap;
  position: relative;
}
.open_menu {
  position: absolute;
  top: 60%;
  right: auto;
  padding: 5px;
  width: 80%;
  border: solid 1px var(--bg-primary);
}
.open_menu:before {
  content: "";
  position: absolute;
  top: 0px;
  margin-top: -23px;
  right: 50%;
  border: solid 12px transparent;
  border-bottom-color:  var(--bg-primary);
  z-index: 1;
}

.item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  cursor: pointer;
  font-weight: 600;
  font-size: 14px;
  border-radius: 10px;
}

@media (min-width: 495px) {
  .container {
    width: 50%;
  }

  .open_cover {
    right: 50%;
  }
  .open_cover:before {
    right: 20px;
  }
}
@media (min-width: 900px) {
  .container {
    width: 30%;
    margin-left: auto;
  }

}
