/* Post */
.post {
  padding: 0;
}
.post_body {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer {
  display: flex;
  flex-direction: column;
}
.reaction {
  display: flex;
  justify-content: space-around;
  height: 40px;
  margin: 0 16px 10px;
  padding: 3px 0;
  position: relative;
  border-top: 1px solid var(--divider);
  border-bottom: 1px solid var(--divider);
}
.reaction_infos {
  display: flex;
  justify-content: space-between;
  padding: 10px 16px;
}
.reaction_infos_left {
  display: flex;
  gap: 8px;
  cursor: pointer;
}

.reaction_infos_right {
  display: flex;
  gap: 5px;
  color: var(--color-third);
  font-size: 15px;
}
.reaction_infos_right span {
  cursor: pointer;
}

.reaction_infos_right span:hover {
  text-decoration: underline;
}
.image_container {
  height: inherit;
  width: 100%;
  max-height: inherit;
  margin-top: 8px;
}
.post_image {
  height: inherit;
  width: inherit;
  max-height: inherit;
  object-fit: cover;
}
.edit_link {
  color: var(--color-secondary) !important;
}

.profile_img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.post_comments_section {
  width: 100%;
  height: 100%;
}
.comments_section {
  margin-top: 1rem;
}

/* PostList */
.text-center {
  margin-top: 150px;
}
@media (max-width: 1175px) {
  .post {
    width: 84%;
  }
}
@media (max-width: 1030px) {
  .post {
    width: 100%;
  }
}
@media (max-width: 960px) {
  .post {
    width: 93%;
  }
}

@media (max-width: 885px) {
  .post {
    width: 100%;
  }
}

@media (max-width: 620px) {
  .post {
    width: 100%;
  }
}
@media (max-width: 400px) {
  .post {
    width: 100%;
  }
}
