.camera_filled_icon {
  background-image: url("../icons/icons25.png");
  background-position: 0px -444px;
  background-size: auto;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  display: inline-block;
}
.public_icon {
  background-image: url(../icons/publicpack.png);
  background-position: 0px -109px;
  background-size: auto;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  display: inline-block;
}