.camera_filled_icon {
  background-image: url("../assets/icons/icons25.png");
  background-position: 0px -444px;
  background-size: auto;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  display: inline-block;
}
.public_icon {
  background-image: url("../assets/icons/publicpack.png");
  background-position: 0px -109px;
  background-size: auto;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  display: inline-block;
}
.like_icon {
  background-image: url("../assets/icons/icons5.png");
  background-position: 0 -243px;
  background-size: auto;
  width: 18px;
  height: 18px;
  background-repeat: no-repeat;
  display: inline-block;
  filter: invert(40%);
}
.comment_icon {
  background-image: url("../assets/icons/icons5.png");
  background-position: 0 -205px;
  background-size: auto;
  width: 18px;
  height: 18px;
  background-repeat: no-repeat;
  display: inline-block;
  filter: invert(40%);
}
.trash_icon {
  background-image: url("../assets/icons/icons2.png");
  background-position: 0px -799px;
  background-size: auto;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  display: inline-block;
}
.logout_filled_icon {
  background-image: url("../assets/icons/icons15.png");
  background-position: 0px -46px;
  background-size: auto;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  display: inline-block;
}
.right_icon {
  background-image: url("../assets/icons/icons18.png");
  background-position: -83px -13px;
  background-size: auto;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  display: inline-block;
  filter: invert(50%);
}
.dark_filled_icon {
  background-image: url("../assets/icons/icons17.png");
  background-position: 0px -340px;
  background-size: auto;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  display: inline-block;
}
.help_filled_icon {
  background-image: url("../assets/icons/icons17.png");
  background-position: 0px -487px;
  background-size: auto;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  display: inline-block;
}
.report_filled_icon {
  background-image: url("../assets/icons/icons15.png");
  background-position: 0px -25px;
  background-size: auto;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  display: inline-block;
}
.settings_filled_icon {
  background-image: url("../assets/icons/icons16.png");
  background-position: -21px -228px;
  background-size: auto;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  display: inline-block;
}
.exit_icon {
  background-image: url("../assets/icons/icons6.png");
  background-position: -126px -71px;
  background-size: auto;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  display: inline-block;
  filter: invert(40%);
  -webkit-transition: -webkit-transform 0.25s, opacity 0.25s;
  -moz-transition: -moz-transform 0.25s, opacity 0.25s;
  transition: transform 0.25s, opacity 0.25s;
  opacity: 0.5;
}
.exit_icon:hover {
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  transform: rotate(270deg);
  opacity: 1;
}
.addPhoto_icon {
  background-image: url("../assets/icons/icons7.png");
  background-position: -25px -292px;
  background-size: auto;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  display: inline-block;
}
.confirmed_icon {
  background-image: url("../assets/icons/icons41.png");
  background-position: -176px -102px;
  background-size: 190px 204px;
  width: 14px;
  height: 14px;
  background-repeat: no-repeat;
  display: inline-block;
}
.minus_icon {
  background-image: url("../assets/icons/icons33.png");
  background-position: 0px -50px;
  background-size: auto;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  display: inline-block;
}
.plus_icon {
  background-image: url("../assets/icons/icons32.png");
  background-position: 0px -25px;
  background-size: auto;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  display: inline-block;
}