.searchInputs {
  display: flex;
  align-items: center;
  gap: 6px;
  background:var(--bg-secondary);
  padding: 10px 20px 10px 13px;
  border-radius: 50px;
  cursor: text;
  min-width: 233px;
}

.search-input {
  outline: none;
  border: none;
  background: transparent;
  font-size: 15px;
  font-family: inherit;
  padding-left: 2px;
}

@media (max-width: 1100px) {
  .searchInputs {
    width: 40px;
    height: 40px;
    padding: 0;
    justify-content: center;
    min-width: auto;
  }

  .search-input {
    display: none;
  }
}

