label {
  font-weight: 600;
  font-size: 14px;
}

.Icon {
  position: absolute;
  right: 9px;
  top: 22px;
  font-size: 17px;
  cursor: "pointer";
}

.commentInput {
  height: 50px;
  width: 100%;
  padding: 10px;
  outline: 2px solid transparent;
  outline-offset: -2px;
  border: none;
  border-bottom: 1px solid #ccc;
  resize: none;
}
.commentInput:focus {
  border: 1px solid rgb(107, 114, 12);
    outline-offset: -2px;
}
