label {
  font-weight: 600;
  font-size: 14px;
}

.Icon {
  position: absolute;
  right: 9px;
  top: 22px;
  font-size: 17px;
  cursor: "pointer";
}
.search-input {
  background: #f0f2f5;
  outline: none;
  border: none;
  border-radius: 15px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  font-size: 16px;
  font-family: "Roboto";
  padding: 10px ;
  height: 40px;
  min-width: 200px;
  cursor: text;
}

.search-input:focus {
  outline: none;
}
.commentInput {
  height: 50px;
  width: 100%;
  padding: 10px;
  outline: 2px solid transparent;
  outline-offset: -2px;
  border: none;
  border-bottom: 1px solid #ccc;
  resize: none;
}
.commentInput:focus {
  border: 1px solid rgb(107, 114, 12);
    outline-offset: -2px;
}
